[submodule "home/.walls"]
	path = home/.walls
	url = https://github.com/Sinomor/walls.git
[submodule "home/.config/awesome/modules/bling"]
	path = home/.config/awesome/modules/bling
	url = https://github.com/BlingCorp/bling.git
